<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Telintec_RH</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Telintec_RH.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="sidebar">
        <h2>Telintec</h2>
        <ul class="nav">
            @if (Context.Session.GetString("role") == "ADMIN")
            {
                <li>
                    <a asp-area="" asp-controller="Account" asp-action="Index">
                        <i class="fa-solid fa-circle-user"></i>
                        <span>Users</span>
                    </a>
                </li>
            }
            <li>

                <a asp-area="" asp-controller="Employee" asp-action="Index">
                    <i class="fa-solid fa-people-group"></i>
                    <span>Employees</span>
                </a>
            </li>
           

            <li>

                <a asp-area="" asp-controller="Departement" asp-action="Index">
                    <i class="fa-solid fa-building-user"></i>
                    <span>Departments</span>
                </a>
            </li>

            <li>

                <a asp-area="" asp-controller="Holiday" asp-action="Index">
                    <i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i>
                    <span>Holidays</span>
                </a>
            </li>

            <li>

                <a asp-area="" asp-controller="Absence" asp-action="Index">
                    <i class="fa-solid fa-person-circle-exclamation"></i>
                    <span>Absences</span>
                </a>
            </li>
            <li>

                <a asp-area="" asp-controller="Operation" asp-action="Index">
                    <i class="fa-solid fa-bars-progress"></i>
                    <span>Operations</span>
                </a>
            </li>

            <li style="margin-top:120%">

                <a asp-area="" asp-controller="Account" asp-action="Logout">
                    <i class="fa-solid fa-arrow-right-from-bracket"></i>
                    <span>Log Out</span>
                </a>
            </li>

           
           

        </ul>
    </div>
    <div class="main">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
